{{#block "header"}}
    <!DOCTYPE html>
    <html>
    <head>
        <title>{{#block "title"}}Squd{{/block}}</title>
        <link rel='stylesheet' href='/styles.css'>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        {{#block "styles"}}{{/block}}
    </head>

{{/block}}
<body>
<header id="header">
    <ul class="nav" id="nav">
        <li role="presentation" class="active"><a href="/">HOME</a></li>
        <li role="presentation"><a  href="/view">VIEW SIGHTINGS</a></li>
    </ul>


</header><div class="container">
    <div class="col-md-12">
        {{#block "content"}}{{/block}}
    </div>
</div>
{{#block "footer"}}
    <footer class="foot"></footer>
    </body>
    </html>
{{/block}}